*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li,a {
    text-decoration: none;
    list-style: none;
}
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    background-color: #EEE;
    z-index: 10000;
}
.ul_pc{
    display: none;
}
.ul_mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    top: 80px;
    right: -100%;
    text-align: center;
    background-color: rgb(29, 29, 29);
    width: 60%;
    height: 100vh;
    transition: all 500ms;
}
.ul_mobile.active {
    right: 0;
}
.ul_mobile > li {
    padding: 30px;
}
.ul_mobile > li > a {
    color: #FFF;
    font-weight: 600;
}
.navBtn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.bars{
    width: 35px;
    height: 3px;
    border-radius: 20px;
    background-color: black;
    margin: 3px 0;
    transition: all 500ms;
}
.navBtn.active .bars:nth-child(1){
    transform:translateY(5px) translateX(-.5px);
    rotate: 50deg;

}
.navBtn.active .bars:nth-child(2){
    display: none;
}
.navBtn.active .bars:nth-child(3){
    transform:translateY(-8px) translateX(1.1px);
    rotate: -50deg;
}
.main {
    background-color: #FFF;
}
.productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.title {
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}
.product {
    max-width: 300px ;
    margin: auto;
    box-shadow: 0px 0px 10px #EEE;
    padding: 20px;
}
.product > img {
    width: 100%;
    object-fit: cover;
    margin: 20px 0;
}
.btnBuy {
    padding: 10px;
    border: none;
    background-color: rgb(15, 104, 37);
    color: #FFF;
    font-weight: 700;
    border-radius: 10px;
}
.btnAddCar {
    padding: 10px;
    border: none;
    background-color: rgb(0, 140, 255);
}
.footer {
    position: relative;
    background-color: #333;
    padding: 10px;
    color: #EEE;
    text-align: center;
    width: 100%;
    font-weight: 600;
    z-index: 100000;
}
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

}

