.main {
    background-color: #FFF;
    padding-top: 80px;
}
.title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 80px 0;
}

.title.t1 {
    margin: 30px 0;
}

/* CONTANEDOR DE PRODUCTOS =================================== */

#productos {
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.product {
    max-width: 300px;
    box-shadow: 0px 0px 10px rgb(215, 215, 215);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #FFF;
}

.product > img {
    width: 100%;
    object-fit: cover;
    margin: 20px 0;
    user-select: none;

}
.product > span {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 400;
    user-select: none;
    display: block;
}
.product > p {
    margin: 10px 0;
    user-select: none;

}
.contBtn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.btnBuy {
    padding: 10px;
    border: none;
    background-color: rgb(57, 78, 136);
    color: #FFF;
    font-weight: 500;
    margin-bottom: 10px;
}
.btnBuy:hover {
    background-color: rgb(40, 66, 137);
    box-shadow: 0px 0px 5px rgb(33, 55, 113);
}
.btnAddCar {
    padding: 10px;
    border: none;
    background-color: rgb(89, 89, 89);
    color: #FFF;
    font-weight: 500;
}
.btnAddCar:hover {
    background-color: rgb(55, 55, 55);
    box-shadow: 0px 0px 5px rgb(66, 66, 66);
}


/* SOBRE NOSOTROS CSS ========================================== */

.sobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.sobreNosotros > p {
    text-align: justify;
    margin: 10px 0;
}

.sobreNosotros > i {
    font-size: 100px;
    animation: topToBottom infinite alternate-reverse  10s ;
}

/* CONTACTANOS CSS ======================================== */

.contactanos {
    padding: 10px;
}

.formularioDeContacto{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.formularioDeContacto > input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(40, 66, 137);
}
.formularioDeContacto > label {
    margin: 10px 0;
}

.formularioDeContacto > textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 80px;
    min-height: 80px;
    border: none;
    border-bottom: 3px solid rgb(40, 66, 137);
    outline: none;
    padding: 10px;
}

.btnSend {
    margin:  10px 0;
    padding: 10px;
    border: none;
    background-color: rgb(57, 78, 136);
    color: #FFF;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.btnSend:hover {
    background-color: rgb(40, 66, 137);
    box-shadow: 0px 0px 5px rgb(33, 55, 113);
}


/* MODO OSCURO MODIFICACIONES */

body.dark .title {
    color: #FFF;
}

body.dark .product {
    box-shadow: 10px 10px 0px rgb(89, 89, 89);
}

body.dark .sobreNosotros > p {
    color: #FFF;
}

body.dark .formularioDeContacto > label {
    color: #FFF;
}


/* ANIMACIONES */

@keyframes topToBottom {
    from {
        rotate: 0deg;
    }
    
    to {
        rotate: 360deg;
    }
}

/* MEDIA QUERY PARA DISPOSITIVOS DE ESCRITORIO */

@media (min-width : 800px) {
    .product{
        transition: 300ms ease-in-out scale;
    }
    .product:hover {
        scale: 1.1;
    }
    .sobreNosotros {
        display: flex;
        width: 80%;
        margin: auto;
        flex-direction: initial;
        justify-content: space-around;
    }
    .sobreNosotros > img {
        width: 200px;
    }
    .sobreNosotros > p {
        width: 60%;
    }
    .formularioDeContacto {
        width: 50%;
    }
}


