/* MENU DE NAVEGACION EN LA PARTE SUPERIOR CSS ====================== */
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    background-color: rgb(252, 252, 252);
    z-index: 10000;
    box-shadow: 0px 1px 10px rgb(206, 206, 206);
}
.logo {
    display: flex;
    align-items: center;
}
.fa-apple{
    font-size: 3em;
    color: #111;
    margin-right: 15px;
}
.logo > h1 {
    color: #111;
    font-weight: 500;
}
.ul_pc{
    display: none;
}

/* NAVEGACION EN MOVIL */

.ul_mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    top: 80px;
    right: -100%;
    text-align: center;
    background-color: rgb(29, 29, 29);
    width: 60%;
    height: 100vh;
    transition: all 500ms;
}
.ul_mobile.active {
    right: 0;
}
.ul_mobile > li {
    padding: 30px;
}
.ul_mobile > li > a {
    color: #FFF;
    font-weight: 400;
}

.btnModoOscuro {
    border: none;
    margin: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
}


/* BOTON DE RESPUESTA EN RESOLUCONES MOVILES */

.navBtn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.bars{
    width: 35px;
    height: 3px;
    border-radius: 20px;
    background-color: black;
    margin: 3px 0;
    transition: all 500ms;
}

.navBtn.active .bars:nth-child(1){
    transform:translateY(5px) translateX(-.5px);
    rotate: 50deg;

}
.navBtn.active .bars:nth-child(2){
    display: none;
}
.navBtn.active .bars:nth-child(3){
    transform:translateY(-8px) translateX(1.1px);
    rotate: -50deg;
}

/* VIDEO DE PRESENTACION =========================== */

.videoPresentation {
    position: relative;
    top: 80px;
    height: 100vh;
    background-color: rgb(33, 55, 113);
}
.videoPresentation > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: opacity(.4);
}

.contTextPresentation{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 2em;

}

/* ======================== DARK MODE ================== */

body.dark .ul_mobile{
    background-color: #EEE;
}
body.dark .ul_mobile_elements{
    color: #000;
}

body.dark .btnModoOscuro{
    color: #000;
}

body.dark .ul_pc_element {
    color: #fff;
  
}

body.dark .bars {
    background-color: #FFF;
}

body.dark .nav {
    box-shadow: 0 1px 10px #111;
}

/* ==================== MEDIA QUERY PARA DISEÑO DE RESPUESTA EN PC ================== */


@media (min-width : 800px) {
    .ul_mobile{
        display: none;
    }
    .navBtn{
        display: none;
    }
    .ul_pc{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    .ul_pc_elements > a {
        transition: none;
        color: #000;
    }
    .ul_pc_elements > a:hover {
        border: none;
        border-bottom: 2px solid rgb(33, 55, 113);
    }
    .btnModoOscuro {
        color: #000;
    }
    body.dark .btnModoOscuro {
        color: #FFF;
    }
}
